# Python
__pycache__/
*.pyc

# Virtual Environment
myenv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db